@import "_modules/_bits";
@font-face {
	font-family: Arista; 
	src: url("Arista-Pro-Light-OTF.otf");
	src: url("Arista-Pro-Light-TTF.ttf");
}


.home-contact {
    p {
        a {

        }
    }
}