@import "_modules/_bits";

#nav-menu {
    background-image: linear-gradient(to bottom right, $purple, $darkblu);
}
#splash {
    background-image: linear-gradient(to bottom right, $yellow, $purple, $darkblu);
}
.customer-reviews {
	background-attachment: fixed;
	background-repeat: repeat;
	// box-shadow: inset 0 0 600px #2f2b2c;
    // background-color: #000000;
    background-image: url("../../img/reviews.png");
}
footer {
  background-image: linear-gradient(to bottom right, $purple, $darkblu);
}
