@import "_modules/_bits";

.contact-mini {
    input {
        display: block;
        margin: 10px auto;
    }
    .form-message {

    }
    button {
        display: block;
        margin: 10px auto;
        &:hover {
            transform: translateY(-2px);
        }
    }
}

.contact-block {
    input {
        display: block;
        margin: 10px auto;
    }
    .form-message {

    }
    button {
        display: block;
        margin: 10px auto;
        &:hover {
            transform: translateY(-2px);
        }
    }
}