main {
 	max-width: 1000px;
  	width: 100%;
  	margin: 0px auto; 
  	padding-left: 15px;
  	padding-right: 15px;
}

#splash {

}

.customer-reviews {

}

.home-map {

}

.home-contact {

}

footer {
    
}