@import "_modules/_bits";

#nav-menu {
	@include XL {
		height: 100px;
	}
	@include LG {
		height: 100px;
	}
	@include MD {
		height: 100px;
	}
	@include SM {
		height: 100px;
	}
	@include XS {
		height: 75px;
	}
}